@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: $color-text;
  padding: 2rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  transition: transform 0.3s ease-in-out;

  @include mobile {
    padding-top: 4rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
    height: 100%;
  }
}

.logo img {
  max-height: 40px;
  width: auto;
  display: block;
  padding-left: 4rem;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}
