@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.button {
  background: $color-accent;
  color: $color-bg;
  padding: 12px 24px;
  border-radius: $radius;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
}

// ----- BUTTONS SYNTHE ------ //
#buttons {
  display: flex;
  flex-direction: rows;
  column-gap: 1rem;
  margin-bottom: 0;

  @include mobile {
    transform: scale(0.9);
    margin: 1rem 0;
  }

  .button_pair {
    display: flex;
    column-gap: 1em;
  }

  .button_pair1 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: #171717;
    border-radius: 8px;
  }

  .button1,
  .button2 {
    width: 3em;
    height: 3em;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #c7c3c0;
    box-shadow: $shadow-button-music;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
    justify-items: center;
  }

  .svg1,
  .svg2 {
    width: 21px;
    height: 21px;
    transition: 0.1s ease-in-out;
    margin: 10px 6px;
  }

  .button3,
  .button4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: $shadow-button-music;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
  }

  .button3 {
    background-color: #fc441b;
  }

  .button4 {
    background-color: #0bac23;
  }

  .button_text {
    color: white;
    padding-top: 0.6em;
    letter-spacing: 0.075em;
    font-size: 0.65em;
    transition: 0.1s ease-in-out;
  }

  .text {
    font-family: Montserrat;
    text-align: center;
    font-size: 0.65em;
    box-shadow: $shadow-button-music;
  }

  .button1:active,
  .button2:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -2.2px -2.2px 4px 0px inset;
  }

  .button1:active .svg1,
  .button2:active .svg2 {
    scale: 0.95;
  }

  .button3:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #d42a02 -3.2px -3.2px 8px 0px inset;
  }

  .button3:active .button_text {
    transform: translateY(0.5px);
  }

  .button4:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #545251 -3.2px -3.2px 8px 0px inset;
  }

  .button4:active .button_text {
    transform: translateY(0.5px);
  }
}

// BOUTONS CV //
/* From Uiverse.io by elijahgummer */
.btncv {
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: $color-text;
  font-size: 1rem;
  padding: 0.375em 1em;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.23s ease;
  cursor: pointer;
}
.middle {
  border-radius: 0px;
}
.right {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.left {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.btncv:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
  letter-spacing: 0.1em;
  color: skyblue;
}
.btncv:focus {
  color: $color-yellow;
}
