@use "../utils/variables" as *;

body {
  font-family: $font-main;
  font-size: 16px;
  //color: $color-text; //
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  color: var(--text);
}

h2 {
  font-size: 2rem;
  color: var(--text);
}
h3 {
  color: var(--text);
}
h4 {
  color: var(--text);
}

span {
  color: var(--text);
}

p,
ul {
  line-height: 1.6;
  font-size: $font-size-base;
  opacity: 0.9;
  color: var(--text);
}

a {
  text-decoration: none; /* Enlève le soulignement */
}
