@use "../utils/variables" as *;

body {
  font-family: $font-main;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  color: #626a89; // Couleur par défaut
}

h2 {
  font-size: 2rem;
  color: #626a89;
}

h3 {
  color: #626a89;
}

h4 {
  color: #626a89;
}

span {
  color: #626a89;
}

p,
ul {
  line-height: 1.6;
  font-size: $font-size-base;
  opacity: 0.9;
  color: #626a89;
}

a {
  text-decoration: none;
}

// ✅ Mode sombre
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark span,
body.dark p,
body.dark ul {
  color: #f5ebd4;
}
